

/* logo, graybar, header are 1*/
header{
    margin: 0;
    padding: 0;
    height: 125px;
    background: rgb(16,177,117);
    background: linear-gradient(0deg, rgba(16,177,117,1) 0%, rgba(6,100,51,1) 100%);
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 95px;
    height: 95px;
    text-align: center;
}

#graybar{
    background: #9AA29F;
    border-color: #9AA29F;
    border-width: thick;
    width:auto;
    height: 10px;
}


body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #72D5A0, #095D30);
    background-image: url('login_background_temp.png');
    background-size: cover;
}

.greeting{
    text-align: center;
    padding: 5%;
    background-color: burlywood; 
    font-size: 250%;
}

 