body, header
{
  margin: 0;
  padding: 0;
}



header
{
  margin: 0;
  padding: 0;
  height: 125px;
  background: rgb(16,177,117);
background: linear-gradient(0deg, rgba(16,177,117,1) 0%, rgba(6,100,51,1) 100%);
}


#graybar
{
  background: #9AA29F;
  border-color: #9AA29F;
  border-width: thick;

  width:auto;
  height: 10px;
}

#logo
{

display: block;
margin-left: auto;
margin-right: auto;
padding-top: 10px;
  width: 95px;
  height: 95px;


}

#CreateButton
{
width: 15%;
height: 5%;
}




h1
{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 50;
}

div
{
  font-family: 'Roboto', sans-serif;
}




input[type=submit]
{
  width: 25%;
  height: 10%;
  background-color: white;
  color: rgb(	30,144,255);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30;
  border-radius: 50px;
  border-color:	gray;
}
input[type=submit]:hover {

}
input[type=text]
{
    background: transparent;
    border: white;
    border-bottom: 1px solid #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 48%;
  padding: 10px;
  height: 350px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


div.a
{
  text-align: center;
  position: relative;
}

div.b
{
  position: relative;
  left: 50;
}

div.c
{
  position: relative;
  left: 30;
}

div.d
{
  position: relative;
  left: 50;
}

div.e
{
  position: relative;
  right: 15;
}
