body, header
{
  margin: 0;
  padding: 0;
}

header
{
  margin: 0;
  padding: 0;
  height: 125px;
  background: rgb(16,177,117);
background: linear-gradient(0deg, rgba(16,177,117,1) 0%, rgba(6,100,51,1) 100%);
}

#graybar
{
  background: #9AA29F;
  border-color: #9AA29F;
  border-width: thick;

  width:auto;
  height: 10px;
}

#logo
{

display: block;
margin-left: auto;
margin-right: auto;
padding-top: 10px;
  width: 95px;
  height: 95px;


}

input[type=submit]
{
  width: 15%;
  height: 9%;
  background-color: white;
  color: rgb(	30,144,255);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17;
  border-radius: 25px;
  border-color: gray;
}
input[type=submit]:hover {

}

p.regularFont
{
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  font-size: 30;
}

p.regularAmount
{
  font-weight: 350;
  font-family: 'Roboto', sans-serif;
  font-size: 65;
}
