body
{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #72D5A0, #095D30);
  background-image: url('login_background_temp.jpg');
  background-size: cover;
}

.center
{
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: white;
  border-radius: 20px;
  opacity: 0.7;
}

.center h1
{
  text-align: center;
  padding: 0 0 20px 0;
}

.center form
{
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field
{
  margin: 0;
  padding: 0;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 60px 0;
  overflow: hidden;
}

.txt_field input
{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.pass
{
  margin: 20px 0 20px 5px;
  color: #088A85;
  cursor: pointer;
  text-align: center;
}

.pass:hover
{
  text-decoration: underline;
}

input[type = "submit"]
{
  width: 100%;
  height: 50px;
  border: none;
  background: #39C7AB;
  border-radius: 25px;
  font-size: 18px;
  color: #F2F2F2;
  font-weight: 700;
  cursor: pointer;
}

.signup_link
{
  margin: 30px 0;
  text-align: center;
  color: #088A85;
}

.signup_link a
{
  color: #088A85;
}

/* logo, graybar, header are 1*/
#logo{
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 10px;
  width: 95px;
  height: 95px;
}

#graybar{
  background: #9AA29F;
  border-color: #9AA29F;
  border-width: thick;

  width:auto;
  height: 10px;
}

header{
  margin: 0;
  padding: 0;
  height: 125px;
  background: rgb(16,177,117);
  background: linear-gradient(0deg, rgba(16,177,117,1) 0%, rgba(6,100,51,1) 100%);
}

/* layout is flexed, id column is this nav */
#nav_layout{
  background-color: blanchedalmond;
  padding: 10px;
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#column{
  flex: 1;
  color: lightslategray;
}

/* Temp click effect */
.nav_column{
  cursor: pointer;
  text-align: center;
}

.nav_column:hover
{
  text-decoration: underline;
}

.canvas
{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(130%, -60%);
  width: 450px;
  height: 300px;
  background: white;
  border-radius: 20px;
  opacity: 0.7;
}

.canvas h1
{
  color: #2E2E2E;
}

form .savings
{
    position: relative;
    left: 220px;
    transform: translate(0%, -120%);
    color: #088A68;
    font-size: 17px;
}

form .checking
{
  position: relative;
  transform: translate(-5%, -10%);
  color: #088A68;
  font-size: 17px;

}

img {
  width: 150px;
  height: 150px;
  transform: translate(1%, 5%);
}
